/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: #e1e7f6;
  width: 320px;
  margin: 16px;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

.border-carre {
  background: #3a5af7;
  color: #fff;
  padding: 12px;
  margin: 64px;
  border-radius: 10px;
  text-decoration: none;
}

.border-radus {
  background: #3a5af7;
  color: #fff;
  padding: 12px;
  border-radius: 24px;
  text-decoration: none;
}

.plus {
  background: #fff;
  border-radius: 70%;
}

nav {
  background: #1c1c1c;
  color: #fff;
}

.box {
  background: #fff;
}
/* ====================================
// base rules
// ==================================== */
