/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

nav p {
  border-bottom: #3a5af7 solid 1px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: #e1e7f6;
  width: 320px;
  margin: 16px;
  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

.border-carre {
  background: #3a5af7;
  color: #fff;
  padding: 12px;
  border-radius: 10px;
  text-decoration: none;
  margin: 32px 0px 0px;
  font-family: "Roboto", sans-serif;
}

.border-radus {
  background: #3a5af7;
  color: #fff;
  padding: 12px;
  border-radius: 24px;
  text-decoration: none;
  margin: 32px 0px 0px 0px;
  font-family: "Roboto", sans-serif;
}

.plus {
  background: #fff;
  border-radius: 70%;
  width: 48px;
  height: 48px;
  margin: 32px 0px 42px;
  color: #3a5af7;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  padding: 16px;
  font-family: "Roboto", sans-serif;
}

.box-nav {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: "Roboto", sans-serif;
}

h3 {
  padding: 16px;
  font-family: "Roboto", sans-serif;
}

img {
  width: 320px;
  height: 181px;
}

nav {
  background: #1c1c1c;
  font-family: "Roboto", sans-serif;
  padding: 16px;
}

nav p {
  color: #fff;
}

.box {
  background: #fff;
}

.box p {
  padding: 16px;
  font-family: "Roboto", sans-serif;
}
/* ====================================
// base rules
// ==================================== */
